<div class="flex">
    <div class="field">
        <span class="value time" data-value="days">000</span>
        <span class="label text">Days</span>
    </div>

    <div class="field">
        <span class="value time" data-value="hours">00</span>
        <span class="label text">Hours</span>
    </div>

    <div class="field">
        <span class="value time" data-value="mins">00</span>
        <span class="label text">Min</span>
    </div>

    <div class="field">
        <span class="value time" data-value="secs">00</span>
        <span class="label text">Sec</span>
    </div>
    <div class="field">
        <span class="value time" data-value="ms">000</span>
        <span class="label text">MS</span>
    </div>
</div>